#ourProducts{
  // background-color: #F5FBFE;
  // z-index:-1;
  position: relative;
    h1 {
     
    padding-bottom: 10px;
    font-family: 'PT Serif', serif;
    font-weight: 800;
    line-height: 60px;
     font-size: 40px !important;
    span {
      background: -webkit-linear-gradient(180deg, #15bbf0, #1552f0);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .blueBox{
      display: flex;
       background-color: rgba(21,82,240,0.05);
      padding:30px;
      color:#000;
      align-items: center;
       border-radius: 10px;
        // box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.08);
      .box1{
        // background: linear-gradient(152deg, #1245CA 0%, #185CFF 73.94%);
        background-color: #fff;
          height:100px;
          width: 130px;
          border-radius: 10px;
          // box-shadow: 6.51001px 12.2435px 27.7333px rgba(4, 16, 48, 0.24),
          // inset -2.02534px -3.8091px 4.31407px #1142C0,
          // inset 2.02534px 3.8091px 4.31407px #185FFF;
          box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
      }
       h5{
          font-weight: 600 !important;
        }
  }
    .whiteBox{
      background-color: rgba(21, 187, 240, 0.05);
      display: flex;
      padding:30px;
    border-radius: 10px;
      align-items: center;
      //  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.08);
      .box2{
        // background: linear-gradient(150deg, #129DCA 0%, #18D1FF 73.21%);
        background-color: #fff;
          height:100px;
          width: 130px;
          border-radius: 10px;
          // box-shadow: 6.93333px 12.0089px 27.7333px rgba(4, 37, 48, 0.24),
          // inset -2.15704px -3.7361px 4.31407px #1196C0,
          // inset 2.15704px 3.7361px 4.31407px #18D9FF;
          box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        }
        h5{
          font-weight: 600 !important;
        }
  }
}
// .gradientBg2{
//   position: relative;
//   img{
//     border: 5px solid #fff;
//     border-radius: 20px;
//   }
// }
// .gradientBg2::after{
//   content: "";
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   background: url('../../images/blurbg.png');
//   left:-100px;
//   top:0;
//   filter: blur(20px);
//   z-index: -1;
// }

@media only screen and (max-width:415px){
  .box1, .box2{
    
    height: 50px !important;
    
  }

  .blueBox, .whiteBox{
    border: 2px solid #F2F2F2;
    div:nth-child(2){
      padding:0 10px !important;
    }
     p{text-align: left !important;}
  }
  #ourProducts{
    background-color: #fff;
    h1,p{
      text-align: center;
    }
    h1{

      font-size: 30px !important;
      line-height: 35px !important;
    }
    // .blueBox{
    //   background: linear-gradient(to right,#1552F0 ,#15BBF0);
    //   color:#fff;
    //   .box1{
    //        background: linear-gradient(to right,#194FDC ,#1552F0);
    // }
  // }
}
  #ourProducts::before {
  content: '';
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: -50px;
  right: 0;
  background: #1552f0;
  transform: skewY(-10deg);
  z-index: -1;
  border-top: 10px solid #15bbf0;
}
#solutions .blueBg, #solutions .colorBg{
   
  padding:20px !important
}
}