@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Open+Sans:wght@500&display=swap');
#news{
  p{
      font-family: 'PT Serif', serif;
  }
    h1 {
    
    padding-bottom: 25px;
    font-family: 'PT Serif', serif;
    font-weight: 800;
    span {
      background: -webkit-linear-gradient(180deg, #15bbf0, #1552f0);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  #blog{
  h6{
      font-family: 'PT Serif', serif;
    line-height: 28px;
  };
 p{
  font-family: 'Inter', sans-serif;
 }
}
}

@media only screen and (max-width:440px){
#news{
  text-align: center;
  #blog{
    text-align: left;
  }
}
}